@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* nav section */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 260px;
    background: #FFF;box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo> img{
    width: 85px;
    height: 40px;
    object-fit: cover;
}
.logo> p{
    color: #0b0223;
    font-size: 3rem;
    font-weight: 700;
}
.logo> p> span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-title> a{
    color: #3c354f;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 30px;
}
.nav-title> a> button{
    border: none;
    border-radius: 8px;background: rgba(11, 2, 35, 0.10);
    padding: 15px;
}
.nav-title> a> button> svg{
    height: 20px;
    margin-left: 8px;
    margin-bottom: -5px;
}
/* ended nev section */

/* banner section */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-text{
    margin: 110px 0;
}
.banner-title{
    color: #0b0223;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.banner-name{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 25px;
}
.banner-description{
    color: #534c64;
    font-size: 1.25rem;
    font-weight: 500;
}
.btn-primary{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 48px;
    border: none;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 15px 30px;
    margin-top: 25px;
}
.btn{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 48px;
    border: none;
    background-color: #4ec5f7;
    padding: 15px 30px;
    margin-top: 25px;
    margin-left: 25px;
}
.banner-img{
    margin-bottom: -4px;
}
.banner-img img{
    width: 600px;
    height: 700px;
}
/* ended the banner section */

/* gamer section */
.gamer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-img> img{
    width: 650px;
}
.gamer-text{
    text-align: right;
    margin-right: 40px;
}
.gamer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
}
.gamer-description{
    width: 350px;
    color: #534c64;
    font-size: .75rem;
    font-weight: 400;
    margin-left: 100px;
    margin-bottom: 10px;
}
.purpose> small{
    color: #534c64;
    font-size: 1rem;
    font-weight: 500;
}
.our-purpose{
    color: #534c64;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
}
/* ended gamer section */


/* play section */
.play-instantly{
    display: flex;
    justify-content: space-around;
    gap: 155px;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.play-instantly-text-title{
    color: #0b0223;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: right;
}
.play-instantly-text-title> span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instantly-text-description{
    color: #534c64;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
}
.play-instantly-img{
    position: relative;
}
.play-instantly-img> .img-1{
    width: 500px;
    height: 620px;
    border-radius: 10px;
}
.img-2{
    width: 260px;
    height: 310px;
    position: absolute;
    bottom: -60px;
    left: -120px;
}
.play-online{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.play-online-img{
    position: relative;
}
.play-online-img> .img-3{
    width: 500px;
    height: 620px;
    border-radius: 10px;
}
.img-4{
    width: 260px;
    height: 310px;
    position: absolute;
    bottom: -90px;
    right: -100px;
}
.play-online-text-title{
    color: #0b0223;
    font-size: 2.5rem;
    font-weight: 700;
}
.play-online-text-title> span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-online-text-description{
    color: #534c64;
    font-size: 1rem;
    font-weight: 400;
}
/* ended play section */

.careers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.careers-text{
    margin-left: 50px;
}
.careers-title{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 25px;
}
.careers-description{
    color: #FFF;
    font-size: .75rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.positions{
    color: #FFF;
    font-size: .75rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.positions-holder{
    text-align: right;
}
.careers-text> button{
    color: #FF42A5;
    background-color: #FFF;
    font-size: .85rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 48px;
    border: none;
}
.careers-img{
    width: 660px;
}
.careers-img> img{
    width: 800px;
    height: 650px;
}
/* ended careers section */

/* game category section */
.games-category{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 120px 50px;
    flex-wrap: wrap;
}
.game-category-img{
    display: flex;
    align-items: center;
    gap: 15px;
}
.category-title{
    color: #0b0223;
    font-size: 1rem;
    font-weight: 600;
}