@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* nav section */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 260px;
    background: #FFF;box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo> img{
    width: 85px;
    height: 40px;
    object-fit: cover;
}
.logo> p{
    color: #0b0223;
    font-size: 3rem;
    font-weight: 700;
}
.logo> p> span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-title> a{
    color: #3c354f;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 30px;
}
.nav-title> a> button{
    border: none;
    border-radius: 8px;background: rgba(11, 2, 35, 0.10);
    padding: 15px;
}
.nav-title> a> button> svg{
    height: 20px;
    margin-left: 8px;
    margin-bottom: -5px;
}
/* ended nev section */

/* banner section */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-text{
    width: 50%;
    height: 700px;
    padding-left: 60px;
    padding-top: 80px;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.banner-title{
    color: #0b0223;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.banner-name{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 25px;
}
.banner-description{
    color: #534c64;
    font-size: 1.25rem;
    font-weight: 500;
}
.btn-primary{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 48px;
    border: none;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 15px 30px;
    margin-top: 25px;
}
.btn{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 48px;
    border: none;
    background-color: #4ec5f7;
    padding: 15px 30px;
    margin-top: 25px;
    margin-left: 10px;
}
.banner-img{
    margin-bottom: -4px;
}
.banner-img img{
    width: 600px;
    height: 700px;
}
/* ended the banner section */
/* gamer section */
.gamer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 500px;
}
.gamer-img> img{
    width: 650px;
}
.gamer-text{
    text-align: right;
    margin-right: 40px;
}
.gamer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
}
.gamer-description{
    width: 350px;
    color: #534c64;
    font-size: .75rem;
    font-weight: 400;
    margin-left: 100px;
    margin-bottom: 10px;
}
.purpose> small{
    color: #534c64;
    font-size: 1rem;
    font-weight: 500;
}
.our-purpose{
    color: #534c64;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
}
/* ended gamer section */

/* online game sect.ion */
.online-games-title{
    color: #0b0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 0;
}
.online-games-title> span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-description{
    color: #534c64;
    text-align: center;
    font-size: .75rem;
    font-weight: 400;
    margin-top: 10px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
.card{
    position: relative;
}
.card-2{
    position: relative;
}
.card-2> img{
    width: 230px;
    height: 280px;
}
.card-hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    cursor: pointer;
    border-radius: 10px;
}
.hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hover> h4{
    color: #FF42A5;
}
.card-2:hover .card-hover{
    opacity: 0.8;
}
.card> p{
    color: #534c64;
    font-size: .75rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* play section */
.play-instantly{
    display: flex;
    justify-content: space-around;
    gap: 155px;
    align-items: center;
    margin-bottom: 120px;
    margin-top: -50px;
}
.play-instantly-text-title{
    color: #0b0223;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: right;
}
.play-instantly-text-title> span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instantly-text-description{
    color: #534c64;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
}
.play-instantly-img{
    position: relative;
}
.play-instantly-img> .img-1{
    width: 500px;
    height: 620px;
    border-radius: 10px;
}
.img-2{
    width: 260px;
    height: 310px;
    position: absolute;
    bottom: -60px;
    left: -120px;
}
.play-online{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.play-online-img{
    position: relative;
}
.play-online-img> .img-3{
    width: 500px;
    height: 620px;
    border-radius: 10px;
}
.img-4{
    width: 260px;
    height: 310px;
    position: absolute;
    bottom: -90px;
    right: -100px;
}
.play-online-text-title{
    color: #0b0223;
    font-size: 2.5rem;
    font-weight: 700;
}
.play-online-text-title> span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-online-text-description{
    color: #534c64;
    font-size: 1rem;
    font-weight: 400;
}
/* ended play section */

.careers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.careers-text{
    margin-left: 70px;
}
.careers-title{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 25px;
}
.careers-description{
    color: #FFF;
    font-size: .75rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.positions{
    color: #FFF;
    font-size: .75rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.positions-holder{
    text-align: right;
}
.careers-text> button{
    color: #FF42A5;
    background-color: #FFF;
    font-size: .85rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 48px;
    border: none;
}
/* .careers-img{
    width: 400px; */
/* } */
.careers-img> img{
    width: 750px;
    height: 600px;
}
/* ended careers section */

/* game category section */
.games-category{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 120px 50px;
    flex-wrap: wrap;
}
.game-category-img:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    border: #FF42A5 1px solid; 
    border-radius: 48px;
    padding: 2px;
    cursor: pointer;
}
.game-category-img{
    display: flex;
    align-items: center;
    gap: 5px;
}
.category-title{
    color: #0b0223;
    font-size: 1rem;
    font-weight: 600;
}
/* ended category section */
/* footer section */
footer{
    color: #FFF;
    background-color: #0b0223;
    padding: 80px 0 100px ;
}
#last-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
#last-logo> p{
    color: #FFF;
}
.support> ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: .75rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 50px;
}
.icon{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px;
}
.terms> ul{
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: .75rem;
    font-weight: 600;
    margin-bottom: 40px;
}
footer> .small{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: .75rem;
    font-weight: 500;
}




@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        gap: 0;
    }
    .logo> img{
        width: 68;
        height: 30;
    }
    .logo> p{
        font-size: 2rem;
    }
    .nav-title> a{
        display:list-item;
        list-style: none;
        margin-bottom: 40px;
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text{
        width: 100%;
        height: 500px;
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
        text-align: left;
        margin-top: 10px;
    }
    .banner-name{
        font-size: 4rem;
        text-align: left;
    }
    .banner-text> .btn-primary{
        margin-left: -50px;
    }
    .banner-description{
        text-align: left;
        font-size: 1rem;
    }
    .banner-img> img{
        width: 250px;
        height: 350px;
    }
    .gamer{
        flex-direction: column;
        height: 600px;
    }
    .gamer-img> img{
        width: 310px;
        margin-bottom: 0;
    }
    .gamer-title, .gamer-text{
        text-align: center;
        margin: 0;
    }
    .gamer-title{
        font-size: 1.5rem;
    }
    .gamer-text{
        font-size: .35rem;
    }
    .gamer-description{
        font-size: .5rem;
        margin-left: 0;
        text-align: center;
    }
    .our-purpose{
        font-size: 1rem;
    }
    .online-games-title{
        font-size: 1rem;
    }
    .online-games-description{
        font-size: .5rem;
    }
    .cards{
        flex-direction: column;
    }
    .play-instantly{
        flex-direction: column;
    }
    .play-instantly-text-title{
        text-align: center;
        font-size: 1.5rem;
    }
    .play-instantly-text-description{
        text-align: center;
        font-size: .5rem;
        margin-bottom: -110px;
    }
    .play-instantly-img> .img-1{
        width: 200px;
        height: 300px;
        border-radius: 10px;
        margin-top: 0;
    }
    .img-2{
        width: 120px;
        height: 180px;
        bottom: -50px;
        left: -50px;
    }
    .play-online{
        flex-direction: column-reverse;
    }
    .play-online-img> .img-3{
        width: 200px;
        height: 300px;
        border-radius: 10px;
    }
    .img-4{
        width: 120px;
        height: 180px;
        bottom: -60px;
        right: -50px;
    }
    .play-online-text-title{
        text-align: center;
        font-size: 1.5rem;
    }
    .play-online-text-description{
        text-align: center;
        font-size: .5rem;
    }
    .careers{
        flex-direction: column;
    }
    .careers-text{
        margin-left: 0;
        text-align: center;
    }
    .careers-title{
        font-size: 2rem;
    }
    .careers-description{
        font-size: .5rem;
    }
    .positions{
        font-size: .5rem;
        text-align: left;
    }
    .games-category{
        margin: 50px 0px;
        gap: 50px;   
    }
    .game-category-img> img{
        width: 20px;
        height: 20px;
    }
    .game-category-img> .category-title{
        font-size: .40rem;
        justify-content: space-around;
    }
    .careers-img> img{
        width: 300px;
        height: 260px;
    }
    .last-logo> img{
        width: 30px;
        height: inherit;
    }
    .last-logo> p{
        font-size: 2rem;
    }
    .support> ul, .terms> ul{
        flex-wrap: wrap;
        gap: 60px;
        align-items: center;
        padding-right: 30px;
    }
    .icon{
        flex-wrap: wrap;
        gap: 70px;
    }
    footer> .small{
        flex-direction: column;
        font-size: .45rem;
        text-align: center;
    } 
}


@media screen and (min-width:577px) and (max-width:991px) {
    .nav-container{
        flex-direction: column;
        gap: 0;
    }
    .logo> img{
        width: 68;
        height: 30;
    }
    .logo> p{
        font-size: 2rem;
    }
    .nav-title> a{
        display:list-item;
        list-style: none;
        margin-bottom: 40px;
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text{
        width: 100%;
        text-align: center;
    }
    .banner-title{
        font-size: 2.5rem;
        text-align: center;
        margin-top: 10px;
    }
    .banner-name{
        font-size: 5rem;
        text-align: center;
    }
    .banner-description{
        text-align: left;
        font-size: 1rem;
        margin-left: 210px;
    }
    .banner-img> img{
        width: 550px;
        height: 450px;
    }
    .gamer{
        flex-direction: column;
        height: 600px;
    }
    .gamer-img> img{
        width: 510px;
        margin-bottom: 0;
    }
    .gamer-title, .gamer-text{
        text-align: center;
        margin: 0;
    }
    .gamer-title{
        font-size: 2rem;
    }
    .gamer-text{
        font-size: .5rem;
    }
    .gamer-description{
        font-size: .75rem;
        margin-left: 0;
        text-align: center;
    }
    .our-purpose{
        font-size: 1.5rem;
    }
    .online-games-title{
        font-size: 2rem;
    }
    .online-games-description{
        font-size: .75rem;
    }
    .cards{
        flex-direction: column;
    }
    .play-instantly{
        flex-direction: column;
    }
    .play-instantly-text-title{
        text-align: center;
        font-size: 2rem;
    }
    .play-instantly-text-description{
        text-align: center;
        font-size: .75rem;
        margin-bottom: -110px;
    }
    .play-instantly-img> .img-1{
        width: 400px;
        height: 600px;
        border-radius: 10px;
        margin-top: 0;
    }
    .img-2{
        width: 220px;
        height: 280px;
        bottom: -50px;
        left: -50px;
    }
    .play-online{
        flex-direction: column-reverse;
    }
    .play-online-img> .img-3{
        width: 400px;
        height: 600px;
        border-radius: 10px;
    }
    .img-4{
        width: 220px;
        height: 280px;
        bottom: -60px;
        right: -50px;
    }
    .play-online-text-title{
        text-align: center;
        font-size: 2rem;
    }
    .play-online-text-description{
        text-align: center;
        font-size: .75rem;
    }
    .careers{
        flex-direction: column;
    }
    .careers-text{
        margin-left: 0;
        text-align: center;
    }
    .careers-title{
        font-size: 3rem;
    }
    .careers-description{
        font-size: .75rem;
    }
    .positions{
        font-size: .75rem;
        text-align: left;
    }
    .games-category{
        margin: 50px 0px;
        gap: 50px;   
    }
    .game-category-img> img{
        width: 25px;
        height: 25px;
    }
    .game-category-img> .category-title{
        font-size: .5rem;
    }
    .careers-img> img{
        width: 500px;
        height: 460px;
    }
    .last-logo> img{
        width: 30px;
        height: inherit;
    }
    .last-logo> p{
        font-size: 2rem;
    }
    .support> ul, .terms> ul{
        flex-wrap: wrap;
        gap: 60px;
        align-items: center;
        padding-right: 30px;
    }
    .icon{
        flex-wrap: wrap;
        gap: 70px;
    }
    footer> .small{
        flex-direction: column;
        font-size: .45rem;
        text-align: center;
    }
}